<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- 引入axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js"></script>

    <!-- 引入bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>

</head>

<body>
    <div id="app" class="container mt-3 mb-5">
        <div class="text-secondary text-end">開發期程：2024/5/6-2024/5/8</div>
        <h1>偷窺 <a href="https://www.goodjob.life" target="_blank">GoodJobs</a> 內容</h1>

        <!-- search-->
        <div>
            <div class="input-group mb-3 mt-3">
                <input v-model="url" type="text" class="form-control"
                    placeholder="貼上想偷窺的網址(https://www.goodjob.life/experiences/...)" aria-label="Recipient's username"
                    aria-describedby="button-addon2">
                <button @click="submitUrl()" class="btn btn-outline-secondary" type="button"
                    id="button-addon2">Go</button>
            </div>
            <div>{{errURLMsg}}</div>
        </div>
        <!-- search end-->
        <div class="bg-light p-3 mb-2 mt-2">
            <strong>使用說明</strong><br>
            *把goodjob網頁中，某工作職缺的「工作心得」或是「面試經驗」頁面的網址貼入就可以看到完整內容。<br>
            *網址前綴要是'https://www.goodjob.life/experiences/'<br>
            <i class="text-secondary">建議不要大聲張揚，怕被goodjob發現他們的內容可以被爬出來看。</i>
        </div>

        <template v-if="pageContent!='' && loading==false">
            <hr>
            <div class="row align-content-center">
                <div class="col-auto mt-2">
                    <span class="bg-warning mr-3 p-1 text-center text-white">#{{pageContent.shareType}}</span>
                </div>
                <div class="col">
                    <h2>{{pageContent.pageTitle}}</h2>
                </div>
                <div class="row">
                    <template v-if="pageContent.searchedCount!=null">
                        <div class="col-5  text-secondary"><i class="bi bi-eye-fill"></i> {{pageContent.searchedCount}}
                        </div>
                    </template>
                    <template v-if="pageContent.shareDate!=''">
                        <div class="col text-end text-secondary">分享時間：{{pageContent.shareDate}}</div>
                    </template>
                </div>
            </div>

            <div class="border mt-5" id="crawl">
                <!-- basic info -->
                <div class="bg-light p-3">
                    <template v-if="pageContent.companyName!=null">
                        <div class="mb-2">公司：{{pageContent.companyName}}</div>
                    </template>
                    <template v-if="pageContent.area!=null">
                        <div class="mb-2">地區：{{pageContent.area}}</div>
                    </template>


                    <template v-if="pageContent.jobTitle!=null">
                        <div class="mb-2">職稱：{{pageContent.jobTitle}}</div>
                    </template>

                    <template v-if="pageContent.relativeExperienceYear!=null">
                        <div class="mb-2">相關職務工作經驗：{{pageContent.relativeExperienceYear}} 年</div>
                    </template>

                    <template v-if="pageContent.interviewTime!=null">
                        <div class="mb-2">面試時間：{{pageContent.interviewTime}}</div>
                    </template>

                    <template v-if="pageContent.result!=null">
                        <div class="mb-2">面試結果：{{pageContent.result}}</div>
                    </template>

                    <template v-if="pageContent.treatment!=null">
                        <div class="mb-2">待遇：{{pageContent.treatment}}</div>
                    </template>

                    <template v-if="pageContent.satisfactionScore!=null">
                        <div class="mb-2">整體面試滿意度：{{pageContent.satisfactionScore}}分
                            <span class="text-secondary"><i>(滿分5分)</i></span>
                        </div>
                    </template>

                    <template v-if="pageContent.oddQuestions!=null">
                        <div class="mb-2">特殊問題：{{pageContent.oddQuestions}}</div>
                    </template>

                    <template v-if="pageContent.highestDegree!=null">
                        <div class="mb-2">最高學歷：{{pageContent.highestDegree}}</div>
                    </template>

                    <template v-if="pageContent.perWeekWorkHours!=null">
                        <div class="mb-2">一週工時：{{pageContent.perWeekWorkHours}}</div>
                    </template>

                    <template v-if="pageContent.isGood!=null">
                        <div class="mb-2">是否推薦：{{pageContent.isGood}}</div>

                    </template>

                </div>
                <div class="p-3">
                    <h5>分享內容</h5>
                    <div v-html="article"></div>

                </div>

                <!-- share article -->
            </div>

        </template>
        <template v-else-if="loading==true">
            <div class="row justify-content-center">
                <div class="w-50">

                    <img src="../img/loading_gray.gif" alt="Loading...">
                </div>
            </div>
        </template>



    </div>

</body>

<script type="module">
    import { createApp } from "https://cdnjs.cloudflare.com/ajax/libs/vue/3.4.21/vue.esm-browser.min.js";

    createApp({

        data() {
            return {
                pageContent: "",
                url: "",
                errURLMsg: "",
                article: "",
                loading: false,
            }
        },
        methods: {
            submitUrl() {
                let data = { url: this.url };
                // console.log(data);
                if (this.url == "") {
                    this.errURLMsg = "請輸入網址";
                    return;
                } else if (!this.url.includes("https://www.goodjob.life/experiences/")) {
                    this.errURLMsg = "請輸入goodjob.life網址";
                    return;
                } else {
                    this.errURLMsg = "";
                }
                axios.post("/crawl", data)
                    .then((response) => {
                        this.pageContent = response.data;
                        this.loading = true;
                        this.article = this.pageContent.shareContent;
                        setTimeout(() => {
                            this.loading = false
                        }, 2000);
                    })
            }
        },

        created() {

        },

    }).mount("#app");
</script>

</html>